html, body {
    margin: 0;
    padding: 0;
}

.page-body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-body__text {
    font-size: 3em;
    text-align: center;
}